*.pb.cc
*.pb.h
build/Makefile.in
build/testapp
build/reproducible_test
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
